{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>{{.greeting}}</h1>
        <p></p>
      </div>
    </div>
  </div>
</header>

<form action="/App/Hello" method="POST">
  <p><input type="text" name="myName"><p>
  <p><input type="hidden" name="a" value="あだな"><p>
  <p><input type="submit" value="Say hello!"><p>
</form>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
